[Unit]
Description=Layer tailscale with rpm-ostree
Wants=network-online.target
After=network-online.target
Before=zincati.service
ConditionPathExists=!/var/lib/%N.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/rpm-ostree-install-tailscale.sh
ExecStart=/bin/touch /var/lib/%N.stamp

[Install]
WantedBy=multi-user.target
